# Statistics 1
********

## Basic Python

* Python2 vs Python3 : print

In [2]:
print "Text" # Python2가 쓰는 방식.

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-2-1392693cffa8>, line 1)

In [3]:
print('Text')

Text

* 파이썬 데이터 형식
    * List
    * Dict
    * Tuple

### 1. List

In [5]:
X = [1, 2, 3, 4, 5]

In [6]:
X[0]

1

In [7]:
X[1]

2

In [8]:
X[:]

[1, 2, 3, 4, 5]

In [9]:
X[0] = 10

In [10]:
X

[10, 2, 3, 4, 5]

In [11]:
X.sort()

In [12]:
X

[2, 3, 4, 5, 10]

In [13]:
X.sort(reverse=True)

In [14]:
X

[10, 5, 4, 3, 2]

* CSV 읽기

In [24]:
test = open('test1.csv','r') # 'r' : READ 에서 따온 것.

In [25]:
nude = [line.strip() for line in test] # strip : 공백을 없앤다.

In [26]:
nude

['학생,성적', '안상호,90', '김미연,80', '이민영,35', '학생A,77', '학생B,82']

In [27]:
nude[0]

'학생,성적'

In [29]:
nude[0].split(',')

['학생', '성적']

In [31]:
student = []
score = []
for word in nude:
    a = word.split(',')[0] # word를 구분한 리스트의 첫번째
    b = word.split(',')[1] # word를 구분한 리스트의 두번째
    student.append(a) # student에 a를 집어 넣어서 늘린다.
    score.append(b) # score에 b를 집어 넣어서 늘린다.

* Append를 이용한 코드는 반드시 두 번 돌리지 않는다. -> kernel의 restart로 다시 돌린다.

In [32]:
print(student, score)

['학생', '안상호', '김미연', '이민영', '학생A', '학생B'] ['성적', '90', '80', '35', '77', '82']

* 함수는 ( ) 를 사용, List나 Dict 는 [ ] 를 사용.

In [34]:
del(student[0])
del(score[0])

* del을 이용한 코드도 반드시 한 번만 돌린다.

In [35]:
print(student, score)

['안상호', '김미연', '이민영', '학생A', '학생B'] ['90', '80', '35', '77', '82']

* 두 리스트를 합칠 때는 zip을 사용한다.

In [37]:
zip(score, student)

In [40]:
temp = list(zip(score, student)) # Zip은 sort가 안되므로 list로 바꾼다.
temp.sort(reverse=True)

In [41]:
temp

[('90', '안상호'), ('82', '학생B'), ('80', '김미연'), ('77', '학생A'), ('35', '이민영')]

In [42]:
New_student, New_score = [], []
for group in temp:
    New_student.append(group[1])
    New_score.append(group[0])

In [43]:
print(New_student, New_score)

['안상호', '학생B', '김미연', '학생A', '이민영'] ['90', '82', '80', '77', '35']

In [46]:
test2 = open('test2.csv', 'w') # w는 write에서 따온것.
test2.write('이름, 성적 \n') # \n 은 한 줄 띄우기.
for name, sc in zip(New_student, New_score):
    test2.write(name+','+ sc + '\n')
test2.close()

* 표 만들기

In [47]:
import pandas as pd # 데이터 처리
import plotly.plotly as py # 그림
import plotly.graph_objs as go # 그래프
from plotly.tools import FigureFactory as FF # 예쁜 표

In [51]:
# Table
ta = pd.read_csv('test2.csv')

table = FF.create_table(ta)
py.iplot(table, filename='Beautiful_Table')